#navBar .navBarButtonsBio, #navBar .navBarButtonsStats, #navBar .navBarButtonsSpells, #navBar .navBarButtonsInventory, #navBar .navBarButtons {
  height: 100px;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  color: #E9FFFB;
  font-family: 'Rubik Mono One', sans-serif;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  background-color: rgba(0, 37, 28, 0.7);
  transition: 1.5s; }

#navBar .navBarButtonsBio:hover, #navBar .navBarButtonsStats:hover, #navBar .navBarButtonsSpells:hover, #navBar .navBarButtonsInventory:hover, #navBar .navBarButtons:hover {
  box-shadow: 0 0 20px rgba(200, 200, 200, 0.75);
  background-color: black;
  height: 100px;
  width: 100%;
  border-radius: 25px;
  transition: 1.5s; }

#navBar {
  height: 100vh;
  width: 150px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  #navBar .navBarButtonsBio:hover {
    background: url(imgs/inkwell.png) no-repeat;
    background-size: contain;
    background-position: center; }
  #navBar .navBarButtonsStats:hover {
    background: url(imgs/stats.png) no-repeat;
    background-size: contain;
    background-position: center; }
  #navBar .navBarButtonsSpells:hover {
    background: url(imgs/magicburst.png) no-repeat;
    background-size: contain;
    background-position: center; }
  #navBar .navBarButtonsInventory:hover {
    background: url(imgs/lute.png) no-repeat;
    background-size: contain;
    background-position: center; }

#bio {
  height: 500px;
  width: 400px;
  left: 515px;
  padding-top: 75px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2; }
  #bio #bioText {
    font-family: 'Macondo', cursive;
    font-size: 1.1em;
    color: #FFF;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.75); }
    #bio #bioText #ageText {
      color: #FFFFFF; }
    #bio #bioText #tattooText {
      color: #B4D5FF; }
    #bio #bioText #framedText {
      color: #D7E9FF; }
    #bio #bioText #roseText {
      color: #F4FCFF; }
    #bio #bioText #bardText {
      color: #B2B6BA; }
    #bio #bioText #tormentorText {
      color: #D9E0E3; }
    #bio #bioText #justiceText {
      color: #D7FFF9; }

#mainWrap {
  height: 100vh;
  width: 100vw; }
  #mainWrap .forestBackground {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url(imgs/treeHiRes.jpg) no-repeat;
    background-position: 0 -1600px;
    justify-content: flex-start; }
  #mainWrap #topBoxTitle {
    height: 200px;
    width: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center; }
    #mainWrap #topBoxTitle .header1 {
      font-family: 'Macondo', cursive;
      font-size: 3em;
      color: #FFF;
      display: flex;
      justify-content: center; }
      #mainWrap #topBoxTitle .header1 .surname {
        font-family: 'Dr Sugiyama', cursive; }
