#navBar .navBarButtonsBio, #navBar .navBarButtons {
  height: 100px;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  color: #E9FFFB;
  font-family: 'Rubik Mono One', sans-serif;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  background-color: rgba(0, 37, 28, 0.7);
  transition: 1.5s; }

#navBar .navBarButtonsBio:hover {
  box-shadow: 0 0 20px rgba(200, 200, 200, 0.75);
  transition: 1.5s;
  background-color: black;
  background: url(imgs/inkwell.png) no-repeat;
  height: 150px;
  width: 100%;
  border-radius: 25px;
  background-size: contain;
  background-position: center; }

#navBar {
  height: 100vh;
  width: 150px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  #navBar .navBarButtons:hover {
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.75);
    transition: 1.5s;
    background-color: black;
    border-radius: 25px; }

#mainWrap {
  height: 100vh;
  width: 100vw; }
  #mainWrap .forestBackground {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url(imgs/treeHiRes.jpg) no-repeat;
    background-position: 0 -1600px;
    justify-content: flex-start; }
  #mainWrap #topBoxTitle {
    height: 400px;
    width: 100vw;
    position: relative;
    left: 400px;
    background-color: transparent;
    display: flex;
    text-align: center; }
    #mainWrap #topBoxTitle .header1 {
      font-family: 'Macondo', cursive;
      font-size: 3em;
      color: #FFF;
      display: flex;
      justify-content: center; }
      #mainWrap #topBoxTitle .header1 .surname {
        font-family: 'Dr Sugiyama', cursive; }
