//PLACEHOLDERS

%sideBarButton{
  height: 100px;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  color: #E9FFFB;
  font-family: 'Rubik Mono One', sans-serif;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,1);
  background-color: rgba(0, 37, 28, .7);
  transition: 1.5s;
}

%buttonHover{
  box-shadow: 0 0 20px rgba(200,200,200,.75);
  background-color: rgba(0, 0, 0, 1);
  // background: url(imgs/inkwell.png) no-repeat;
  height: 100px;
  width: 100%;
  border-radius: 25px;
  transition: 1.5s;

  // background-size: contain;
  // background-position: center;
}
//CLASSES



//IDS

#navBar {
  height: 100vh;
  width: 150px;
  z-index: 1;
  background-color: rgba(255,255,255,0);
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;


  .navBarButtonsBio{
    @extend %sideBarButton;
    &:hover{
       @extend %buttonHover;
       background: url(imgs/inkwell.png) no-repeat;
       background-size: contain;
       background-position: center;
    }
  }
    .navBarButtonsStats{
      @extend %sideBarButton;
      &:hover{
        @extend %buttonHover;
        background: url(imgs/stats.png) no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    .navBarButtonsSpells{
      @extend %sideBarButton;
      &:hover{
        @extend %buttonHover;
        background: url(imgs/magicburst.png) no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    .navBarButtonsInventory{
      @extend %sideBarButton;
      &:hover{
        @extend %buttonHover;
        background: url(imgs/lute.png) no-repeat;
        background-size: contain;
        background-position: center;
      }
    }



    .navBarButtons{
      @extend %sideBarButton;
      &:hover{
        @extend %buttonHover;
      }
    }
        // transform: ;






}

//
//

// fonts
// font-family: 'Rubik Mono One', sans-serif;
// font-family: 'Macondo', cursive;
// font-family: 'Dr Sugiyama', cursive;

// body {
//
//

 #mainWrap {
   height: 100vh;
   width: 100vw;
   // align-content: flex-start;


   .forestBackground{
     position: absolute;
     height: 100vh;
     width: 100%;
     background:url(imgs/treeHiRes.jpg) no-repeat;
     background-position: 0 -1600px;
     justify-content: flex-start;
     // align-items: center;
     // display: flex;
     // text-align: center;

   }


    #topBoxTitle {
      height: 200px;
      width: 100%;
      position: relative;

      //fix this so it is respsonsive
      // left: 400px;
      background-color: rgba(0,0,0,0);
      display: flex;
      justify-content: center;

      .header1{
        // left: 150px;
        font-family: 'Macondo', cursive;
        font-size: 3em;
        // width: 50%;
        color: #FFF;
        display: flex;
        // justify-content: center;
        //align-self: (overrides align items)
        // align-items: center;
        // text-align: right;
        justify-content: center;
          .surname{
            font-family: 'Dr Sugiyama', cursive;
          }


      }
    }


}
// }


//body
